// ----------------------------------------------------------------------------------
// This file contains all styles related to the home page of the site/application.
// ----------------------------------------------------------------------------------

body
    // background: $red $bg-img-url no-repeat top center
    background-attachment: fixed
    background-size: cover
    text-align: center

main
    width: min(100%, 1160px)
    margin-inline: auto
    padding-inline: 1.5rem
    min-height: 100vh

.intro
    margin-top: 5.5rem

    h1, p
        margin-inline: auto

    h1
        width: 20ch
    p
        max-width: 55ch
        margin-top: 1.4rem

.signup-form
    @include setDisplay
    gap: 1.6rem
    margin-top: 3.8rem

.trial-info-box
    display: block
    padding: 1.23rem
    border-radius: 10px
    box-shadow: 0 8px rgba(0, 0, 0, 0.1)
