// -----------------------------------------------------------------------------
// This file contains basic typography style for copy text.
// -----------------------------------------------------------------------------

body
    font-family: $font-stack
    font-size: $size
    font-weight: $fw-400

.intro
    margin-top: 5.5rem

    h1
        font-size: 1.7rem
        line-height: 1.37

    p
        font-size: 0.9714rem
        line-height: 1.7
        word-spacing: 0.125rem

.trial-info-box
    span
        font-weight: $fw-600
